{% assign linklist = linklists["creators"] %}
{% assign collections_per_row = settings.frontpage_collections_per_row %}

<div class="twelve columns collection-list background_1">
<!-- custom banner -->
<div class="commonbanner">
  <div class="bannerImage"> 
  <img class="img-fluid" src="{{'creatorbanner.jpg' | asset_url}}">
</div>
<div class="captionInner">
<h2>Introducing the 10,000 <br>Creators Project by Slow Bazaar </h2>
</div>

</div>
<!-- custom banner -->
  <div class="page-width">
   <div class="creatorContainer">
     {% render 'breadcrumbs' %} 
     {{pageUrl}}
     
  <h1 class="page-title">{{page.title | escape}}</h1>

  <h2 class="headingcreator">Filter:</h2>

    {{ page.content }}
    {% assign options = '' %}
    {% for link in linklist.links %}
      {% assign variant = link.object %} 
        {% assign options = options | append: ',' | append: variant.metafields.custom.location %}
    {% endfor %}
    {% assign options = options | remove_first: ',' | split: ',' | uniq %}
    
    <div class="s-select"> 
    
    <select id="location" class="location" name="location" >  
       <option value="">Select Location</option> 
     {% for  option in options %} 

       <option value"{{ option | downcase }}" >{{ option }}</option>
     
     {% endfor %}
     </select>
    </div>
    {% include 'collection-within-collection' %}
</div>
</div>
</div>

<script>
  var urllocation = document.URL.split('?location=')[1];
      
  console.log(urllocation);
  if(urllocation)
  {
        urllocation = urllocation.toLowerCase();
  		jQuery(".creatorli").hide();
    	jQuery("."+urllocation).show();
        jQuery('select[name="location"]').val(urllocation);
  }

  jQuery('select[name="location"]').change(function()
    {
        var locationoption = jQuery(this).find('option:selected').val();
      console.log(locationoption);
    if(locationoption == "")
        {jQuery(".creatorli").show();}
    else
    	{
    	jQuery(".creatorli").hide();
    	jQuery("."+locationoption).show();
    	}

        
    });
</script>