
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="font/stylesheet.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!-- css start pages -->
    <!-- end css  -->

    <!-- interview slider -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100 img-bans" src="image/Interview-slider1.jpg" alt="First slide">
        </div>
        <div class="carousel-caption text-intparag">
          <div class="interview-logoimg">
            <img src="{{'intv-logo.png' | asset_url}}" class="img-fluid" alt="about-pic1">
          </div>
          <div class="text-heading ">
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- end section -->
    <!-- second youtube section -->
    <section class="intv-section-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-intvew">
              <h2>TurnSlow Interview</h2>
            </div>
          </div>
        </div>
        <div class="clearfix hrintv"></div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
          <!--   <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
            </div> -->
 <div class="demo-video">
      <video id="video-id" poster="{{'intv-youtube.jpg' | asset_url}}" class="img-fluid">
         <source src="{{'intro.mp4' | asset_url}}" type="video/mp4">    
      
       </video>
  </div>


          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="int-heading ">
              <h2>Nawazuddin Siddiqui | Slow Moments | TSI with Neelesh Misra</h2>
              <p>Nawazuddin Siddiqui is an Indian film actor who has appeared in some of Bollywood's major films including, Black Friday (2004), New York, Peepli Live, Kahani, Gangs of Wasseypur, Kahaani, Talaash, The Lunchbox, Kick, Badlapur, Bajrangi Bhaijaan, Raman Raghav 2.0, Haraamkhor, Raees, Mom, Munna Michael, Genius, Manto, Thackery, Photograph. And who can miss the famous web series Sacred Games 1 and Sacred Games 2. Nawazuddin made his Bollywood debut in 1999, with a small role in Aamir Khan starrer, Sarfarosh. He did a short film The Bypass in 2003, where he appeared with actor, Irrfan Khan. His appearance in Anurag Kashyap's Black Friday gave him fame. </p>
            </div>
          </div>
        </div>
    </section>
    <!-- end section -->
    <!-- third youtube section -->
    <section class="intv-section-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-category1">
              <h2>Category Name</h2>
            </div>
          </div>
        </div>
        <div class="clearfix hrintv1"></div>
        <!-- category first -->
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12">
            <!-- Button trigger modal -->
            <a href="" data-toggle="modal" data-target="#catogoryModal1">
              <img src="{{'category-pic2.jpg' |asset_url}}" class="img-fluid" alt="category-pic">
            </a>
            <!-- end button -->
            <!-- Modal -->
            <div class="modal fade" id="catogoryModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bgs-2">
                  <div class="modal-header">
                    <button type="button" class="close cross-icons" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <!-- Button trigger modal -->
            <a href="" data-toggle="modal" data-target="#catogoryModal2">
              <img src="{{'category-pic2.jpg' |asset_url}}" class="img-fluid" alt="category-pic">
            </a>
            <!-- end button -->
            <!-- Modal -->
            <div class="modal fade" id="catogoryModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bgs-2">
                  <div class="modal-header">
                    <button type="button" class="close cross-icons" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/668nUCeBHyY" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <!-- Button trigger modal -->
            <a href="" data-toggle="modal" data-target="#catogoryModal3">
              <img src="{{'category-pic3.jpg' |asset_url}}" class="img-fluid" alt="category-pic">
            </a>
            <!-- end button -->
            <!-- Modal -->
            <div class="modal fade" id="catogoryModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bgs-2">
                  <div class="modal-header">
                    <button type="button" class="close cross-icons" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <!-- Button trigger modal -->
            <a href="" data-toggle="modal" data-target="#catogoryModal4">
              <img src="{{'category-pic2.jpg' |asset_url}}" class="img-fluid" alt="category-pic">
            </a>
            <!-- end button -->
            <!-- Modal -->
            <div class="modal fade" id="catogoryModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bgs-2">
                  <div class="modal-header">
                    <button type="button" class="close cross-icons" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/668nUCeBHyY" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end first  -->
        <!-- category two section -->
        <div class="row">
          <div class="col-lg-12">
            <div class="text-category1">
              <h2>Category Name</h2>
            </div>
          </div>
        </div>
        <div class="clearfix hrintv1"></div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12">
            <!-- Button trigger modal -->
            <a href="" data-toggle="modal" data-target="#catogoryModal5">
              <img src="{{'category-pic2.jpg' |asset_url}}" class="img-fluid" alt="category-pic">
            </a>
            <!-- end button -->
            <!-- Modal -->
            <div class="modal fade" id="catogoryModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bgs-2">
                  <div class="modal-header">
                    <button type="button" class="close cross-icons" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <!-- Button trigger modal -->
            <a href="" data-toggle="modal" data-target="#catogoryModal6">
              <img src="{{'category-pic2.jpg' |asset_url}}" class="img-fluid" alt="category-pic">
            </a>
            <!-- end button -->
            <!-- Modal -->
            <div class="modal fade" id="catogoryModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bgs-2">
                  <div class="modal-header">
                    <button type="button" class="close cross-icons" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/668nUCeBHyY" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <!-- Button trigger modal -->
            <a href="" data-toggle="modal" data-target="#catogoryModal7">
              <img src="{{'category-pic2.jpg' |asset_url}}" class="img-fluid" alt="category-pic">
            </a>
            <!-- end button -->
            <!-- Modal -->
            <div class="modal fade" id="catogoryModal7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bgs-2">
                  <div class="modal-header">
                    <button type="button" class="close cross-icons" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <!-- Button trigger modal -->
            <a href="" data-toggle="modal" data-target="#catogoryModal8">
              <img src="{{'category-pic2.jpg' |asset_url}}" class="img-fluid" alt="category-pic">
            </a>
            <!-- end button -->
            <!-- Modal -->
            <div class="modal fade" id="catogoryModal8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bgs-2">
                  <div class="modal-header">
                    <button type="button" class="close cross-icons" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/668nUCeBHyY" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end second -->
        <!-- category third section -->
        <div class="row">
          <div class="col-lg-12">
            <div class="text-category1">
              <h2>Category Name</h2>
            </div>
          </div>
        </div>
        <div class="clearfix hrintv1"></div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12">
            <!-- Button trigger modal -->
            <a href="" data-toggle="modal" data-target="#catogoryModal9">
              <img src="{{'category-pic2.jpg' |asset_url}}" class="img-fluid" alt="category-pic">
            </a>
            <!-- end button -->
            <!-- Modal -->
            <div class="modal fade" id="catogoryModal9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bgs-2">
                  <div class="modal-header">
                    <button type="button" class="close cross-icons" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <!-- Button trigger modal -->
            <a href="" data-toggle="modal" data-target="#catogoryModal10">
              <img src="{{'category-pic2.jpg' |asset_url}}" class="img-fluid" alt="category-pic">
            </a>
            <!-- end button -->
            <!-- Modal -->
            <div class="modal fade" id="catogoryModal10" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bgs-2">
                  <div class="modal-header">
                    <button type="button" class="close cross-icons" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/668nUCeBHyY" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <!-- Button trigger modal -->
            <a href="" data-toggle="modal" data-target="#catogoryModal11">
              <img src="{{'category-pic2.jpg' |asset_url}}" class="img-fluid" alt="category-pic">
            </a>
            <!-- end button -->
            <!-- Modal -->
            <div class="modal fade" id="catogoryModal11" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bgs-2">
                  <div class="modal-header">
                    <button type="button" class="close cross-icons" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <!-- Button trigger modal -->
            <a href="" data-toggle="modal" data-target="#catogoryModal12">
              <img src="{{'category-pic2.jpg' |asset_url}}" class="img-fluid" alt="category-pic">
            </a>
            <!-- end button -->
            <!-- Modal -->
            <div class="modal fade" id="catogoryModal12" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bgs-2">
                  <div class="modal-header">
                    <button type="button" class="close cross-icons" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/668nUCeBHyY" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end third -->
      </div>
    </section>
    <!-- end section -->
    <!--  script section-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
 <script>
           $(document).ready(function(){ 
  $('#video-id,.demo-play-btn').click(function(){ 
    $('#video-id').get(0).paused ? $('#video-id').get(0).play() : $('#video-id').get(0).pause(); 
    $(".demo-play-btn").toggle();
  }); 
});
        </script>
